@page "/u/Verify"
<h3>Verify your account</h3>

<div class="d-flex flex-column">
    <div class="mb-3">
        <span>@message</span>
    </div>
</div>
<div class="d-flex flex-column">
    <div class="mb-3">
        If you are having any issues with your account or verifying your account, please contact support.
    </div>
    <div class="mb-3">
        <NavLink href="/Contact">Support</NavLink>
        <NavLink href="/">Back to Start</NavLink>
    </div>
</div>
