@page "/u/Verify"
<h3>Verify your account</h3>

<div class="d-flex flex-column">
    <div class="mb-3">
        <span>@message</span>
    </div>
</div>
<div class="mb-3">
    If you are having any issues with your account or verifying your account, please contact support.
</div>
<div class="mt-4 pt-3 border-top d-flex gap-4">
    <small><NavLink href="/Contact">Support</NavLink></small>
    <small><NavLink href="/">Back to Start</NavLink></small>
</div>
