@page "/u/Verify"
<h3>Verify your account</h3>

<div class="d-flex flex-column">
<span>@message</span>
</div>
<div class="d-flex flex-column">
    If experience any issues with account verification, please contact support.
    <NavLink href="/Contact">Support</NavLink>
    <NavLink href="/">Back to Start</NavLink>
</div>
