<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Unconventional Bits</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="social">
                <i class="bi bi-plus-square"></i> Social
            </NavLink>
        </div>        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contact">
                <i class="bi bi-person-circle"></i>
                Contact me
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <i class="bi bi-database-lock"></i>
                Admin
            </NavLink>
        </div>
    </nav>
</div>