@page "/About"
<h3>About</h3>

<div>
    <span class="block-span">
        This blog is something I <NavLink class="inline-link" href="post/thank-you-chatgpt-1823">
            update</NavLink> in my own time.  It's my thoughts on all of those techie things I deal with daily.  
        It is implemented in C# and blazor with a small MS SQL database.
    </span>
</div>
<div>
    <span class="block-span">
        It is a deliberate decision to keep my blog comment-free. I know, I know - it sounds counterintuitive! 
        I'd love to <NavLink class="inline-link" href="contact">hear your thoughts</NavLink> and engage in great 
        discussions about my posts. Please understand, I wanted to avoid the hassle of 
        managing sign-ups, moderating content, and dealing with the occasional internet troll. 
        Let's just say I'm keeping things simple and focusing on what really matters - 
        sharing my ideas while connecting with you in other ways!
    </span>
</div>