@using Cogitatio.Models
@inherits LayoutComponentBase
@inject SiteSettings SiteSettings

@page "/About"
<h3>About</h3>

<div>
    <span class="block-span">
        @((MarkupString)SiteSettings.About)
    </span>
</div>