@page "/AdminAddPost"

<h3>Create a new post</h3>
@if (isAuthenticated)
{
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input id="title" @bind="title" class="form-control" placeholder="Title" />
    </div>

    <div class="mb-3">
        <label for="tags" class="form-label">Tags</label>
        <input id="tags" @bind="tags" class="form-control" placeholder="Tags (comma delimited)" />
        <small class="form-text text-muted">Separate tags with commas.</small>
    </div>    
    <TinyMCE.Blazor.Editor
        Conf="@editorConfig"
        ApiKey="xabfxca9ddbq4r1833sdp13ycvfxwt7iz66rw55oqvt6bav5"
        @bind-Value="content"/>
    <button class="btn btn-primary mt-2" @onclick=@Publish>Publish</button>
    <div>
        <NavLink href="/Admin">Admin</NavLink>
    </div>
}
else
{
    <div>Redirecting to Admin Login</div>
}

