@page "/Admin"
<h3>Admin Panel</h3>

@if (!userState.IsAdmin)
{
    <div class="login">
        <h4>Credentials are required:</h4>
        <div class="mb-3">
            <div class="input-group">
                <input id="credential" @bind="credential"
                       type="@passwordInputType"
                       placeholder="Enter credentials"
                       class="form-control" />
                <button type="button" class="btn btn-outline-secondary" @onclick="TogglePasswordVisibility">
                    <i class="@passwordToggleIcon"></i>
                </button>
            </div>
        </div>        
        <button class="btn btn-primary mt-2" @onclick=@Login>Login</button>
        @if (false == string.IsNullOrEmpty(errorMessage))
        {
            <p class="text-danger">@errorMessage</p>
        }
    </div>
}

@if (userState.IsAdmin)
{
    <NavLink href="Diag" class="btn btn-outline-primary">Diag</NavLink>
    <NavLink href="AdminAddPost" class="btn btn-outline-primary">Add New Post</NavLink>
    <NavLink href="AdminContact" class="btn btn-outline-primary">Contacts</NavLink>
    <button class="btn btn-primary mt-2" @onclick=@Logout>Logout</button>
}

<p style="margin-top: 2em; font-size: x-small">@userState.InstanceId</p>
