@page "/Diag"
<h3>Cogitatio Configuration</h3>


@if (@userState.IsAdmin)
{
    <div>
        <p>UserState InstanceId: @userState.InstanceId</p>
    </div>
    <div>
        1 = '@cogitatioAdminPassword'
    </div>
    <div>
        2 = '@cogitatioSiteDB'
    </div>
    <div>
        3 = '@workingDir'
    </div>
    <div>
        4 = '@appDir'
    </div>
    <div>
        5 = '@contactCount'
    </div>
    <div>
        <NavLink href="/Admin">Admin</NavLink>
    </div>
}
else
{
    <div>Redirecting to Admin Login</div>
}