@page "/Diag"
<h3>Diag</h3>

<div>
    <p>UserState InstanceId: @userState.InstanceId</p>
    @userState.IsAdmin
</div>
<div>
    1 = '@CogitatioAdminPassword'
</div>
<div>
    2 = '@CogitatioSiteDB'
</div>