@page "/Agreements"

<h3>Thank you for your attention to the following:</h3>
<LicensePrivacyAgreement MaxHeight="600px" />
<div class="mt-4 pt-3 border-top">
    <small><NavLink href="/">Back to Start</NavLink></small>
</div>