@page "/"
@using Cogitatio.Shared


<PageTitle>@SiteSettings.SiteTitle</PageTitle>

<h4>Introduction</h4>

<span>
    @((MarkupString)SiteSettings.Introduction)
</span>
<p>&nbsp;</p>
<h3>Latest Post</h3>
<BlogPostShort PostContent="@PostContent" />