.search-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; /* Adjust the gap as needed */
}

.search-container > div {
    display: flex;
    align-items: center;
}

.clear-small-button {
    font-size: 0.85em;
    padding: 0.25em 0.5em;
}