@using Cogitatio.Interfaces
@inject NavigationManager NavigationManager
@inject IDatabase Database

<div class="d-flex justify-content-between align-items-center mt-4 border-top pt-3">
    @if (!string.IsNullOrEmpty(PreviousPostTitle))
    {
        <NavLink href=@("/post/" + @PreviousPostSlug) class="btn btn-outline-primary">
            &larr; @PreviousPostTitle
        </NavLink>
    }
    else
    {
        <div></div> <!-- Empty div for alignment -->
    }

    @if (!string.IsNullOrEmpty(NextPostTitle))
    {
        <NavLink href=@("/post/" + @NextPostSlug) class="btn btn-outline-primary">
            @NextPostTitle &rarr;
        </NavLink>
    }
    else
    {
        <div></div> <!-- Empty div for alignment -->
    }
</div>