<div class="d-flex flex-column">
    <div class="pow-box">
        <p class="pow-message">@waitMessage</p>
        <p class="pow-progress">(@progress • usually 5 seconds)</p>
        <div class="spinner"></div>
    </div>
</div>

<script src="js/pow.js"></script>