@page "/"
@using Cogitatio.Components.Layout


<PageTitle>Home</PageTitle>

<h1>Introduction</h1>

<span>
    I’m a veteran software engineer with more than 25 years of experience, ranging from coding Unix applications in C to crafting sleek .NET solutions and even blockhain and cryptographic solutions. Along the way, I’ve dabbled in everything from writing Windows drivers to streaming desktops as video feeds, game development, 
    and now I’m exploring gRPC and Google Cloud hosting. When I’m not banging out code, I’m probably battling configuration quirks or pondering the mysteries of management decisions and direction of technology in general.
</span>

<BlogPostShort />