@rendermode InteractiveServer
@page "/search"
@page "/search/{tag}"
@page "/search/{startDate:datetime}/{endDate:datetime}"

@using System.Globalization
@using Cogitatio.Components.Layout

<div class="container mt-4">
    <h3>Search</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search tags" @bind="selectedTag" />
                    <button class="btn btn-primary me-2" @onclick=@SearchByTag>Search</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="date" class="form-control" @bind="selectedStartDate" />
                    <input type="date" class="form-control" @bind="selectedEndDate" />
                    <button class="btn btn-primary me-2" @onclick=@SearchByDateRange>Search</button>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 1em">
            <div class="col">
                <button class="btn btn-secondary clear-small-button" @onclick=@ClearSearch>Clear</button>
            </div>
        </div>        
    </div>
    
    <div>
        <div style="padding-top: 2em">
        @if (blogResults.Any())
        {
            <h4>@resultMessage</h4>
            <ul class="list-group">
                @foreach (var blog in blogResults)
                {
                    <NavLink class="nav-link" href=@("post/" + blog.Slug)>
                        <li class="list-group-item">
                            <strong>@blog.Title</strong> - @blog.PublishedDate.ToString("d", CultureInfo.InvariantCulture)
                        </li>
                    </NavLink>
                }
            </ul>
        }
        else
        {
            <h4>Search Result</h4>
            <p style="padding-top: 2em">No matching blog posts found.</p>
        }
        </div>
    </div>
    <div>
        @if (topTags.Any())
        {
            <div style="padding-top: 2em">
                <BlogTags Tags="@topTags" Title="Top Tags"/>
            </div>
        }
    </div>
</div>
